

.jumbotron {
    background-image: url(./jumbotron.jpg);
    background-repeat: no-repeat;
    padding: 3rem !important;
    background-size: cover;
    height:400px;
}

h2 {
 font-family: "Sofia", sans-serif;
    font-size: 5rem !important;
}

.homepage-content {
    margin: 3rem;
}

.AJlogo {
    width: 200px; 
    padding: 1rem
}

.newsCard {
    border: 2px solid grey!important;
}

.heading {
    font-size: 75px;
    font-weight: bold;
    color:darkblue;
    font-family: 'Dancing Script', cursive;
    margin-top: 2rem

}

.subheading {
    font-size: 50px;
    color:black;
    font-family: 'Anton', sans-serif;

}

.loginBtn {
    text-align: center;
    padding: 1rem;
}

.loginButton{
    font-size: x-large !important;
    font-weight: bold !important;
    background-color: darkred !important;
}

.notesRow {
    margin-top: 5rem !important;
}

.notesCard {
    border: 1px solid rgb(175, 177, 179)!important;
    margin-bottom: 3rem;
}

.addNote {
    border: 1px solid rgb(175, 177, 179)!important;
    margin-bottom: 3rem;
    margin-left: 12rem !important;
    width: 55%;
}

.jumboHeading {
    float: left !important;
    width: 50% !important;
}
.loginForm {
    float: right !important;
    width: 50% !important;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50% !important;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .logo { 
    width: 150px;
    height: auto;
    text-align:center;
  }
  
  .logo img {
    display:inline-block;
  } 

  .logoHeading {
    font-size: 35px;
    color:black;
    font-family: 'Anton', sans-serif;
  }
