<!-- Extend base template -->
{% extends "base.html" %} {% block title %}News{% endblock %}

{% block content %} 
<div class="row">
  <!-- <div class="col-11"> -->
  <div class="jumbotron">
    <div class="heading" style="text-align: center;">

      The Morning Sun

    </div>
    <div class="subheading" style="text-align: center;">
      Bringing The World to You.
    </div>

    <!-- <div class="button loginBtn">
      <a class="btn btn-primary btn-large loginButton" href="/login">Login to Read Top Stories</a>
    </div> -->
  </div>
  <!-- </div> -->
</div>
<div class="main">
  <div class="row">
    {% for newsAJ, descAJ, imgAJ, urlAJ in context %}

    <div class="col-lg-5 mb-4 ml-4" style="margin-left:4rem; margin-top: 2rem">
      
      <div class="card newsCard" style="width: fit-content; padding: 1rem; height: 45rem;
      " >
        <img class="card-img-top" src="{{imgAJ}}" alt="" style="height: 500px; width: 550px; padding: 1rem; " />

        <div class="card-body">
          <h5 class="card-title">{{newsAJ}}</h5>
          <p class="card-text">
            {{descAJ}}
          </p>

          <a href="{{urlAJ}}" class="btn btn-outline-primary btn-sm"> Full Story </a>

        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</div>

</div>


{% endblock %}