{% extends "base.html" %} {% block title %}Notes{% endblock %} {% block content
%}

<div class="main">
  <div class="row">
    <div class="jumbotron">
      <div class="heading" style="text-align: center;">

        The Morning Sun

      </div>
      <div class="subheading" style="text-align: center;">
        Bringing The World to You.
      </div>
    </div>
  </div>
  <div class="row notesRow">
    <div class="col-6" style="margin-left: 4rem; ">
      {% for note in user.notes %}
      <div
        class="card notesCard"
        style="margin-bottom: 3rem"
      >
        <div class="card-body">
          <p class="card-text">{{ note.data }}</p>
          <a href="#" class="btn btn-danger" onClick="deleteNote({{ note.id }})"
            >Delete</a
          >
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col-5">
      <div
      class="card addNote"
      style="margin-bottom: 3rem"
    >
      <div class="card-body">
        <form method="POST">
          <textarea name="note" id="note" class="form-control"></textarea>
          <br />
          <div align="center">
            <button type="submit" class="btn btn-primary">Add Note</button>
          </div>
        </form>
      </div>
    </div>

    </div>
  </div>
</div>

<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <div>
      <a
        href="https://www.linkedin.com/in/waqarhabib94/"
        class="me-4 text-reset"
      >
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/waqar-habib/" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </section>

  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>The Morning Sun News
          </h6>
          <p>Bringing to you news bulletins from around the world</p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p>
            <i class="fas fa-home me-3"></i>508 Young Street Dallas, TX 75202
          </p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@themorningsun.com
          </p>
          <p><i class="fas fa-phone me-3"></i> 214 234 5678</p>
          <p><i class="fas fa-print me-3"></i> 214 234 5679</p>
          <a class="text-reset fw-bold" href="https://www.waqarhabib.dev"
          target="_blank"><i class="fa fa-globe me-3"></i>Portfolio</a
        >
        </div>
      </div>
    </div>
  </section>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="https://www.waqarhabib.dev"
    target="_blank">Waqar Habib</a
    >
  </div>
</footer>
<!-- Footer -->

{% endblock %}
