{% extends "base.html" %} {% block title %}Notes{% endblock %} {% block content
%}

<div class="main">
  <div class="row">
    <div class="jumbotron">
      <div class="heading" style="text-align: center;">

        The Morning Sun

      </div>
      <div class="subheading" style="text-align: center;">
        Bringing The World to You.
      </div>
    </div>
  </div>
  <div class="row notesRow">
    <div class="col-6" style="margin-left: 4rem; ">
      {% for note in user.notes %}
      <div
        class="card notesCard"
        style="margin-bottom: 3rem"
      >
        <div class="card-body">
          <p class="card-text">{{ note.data }}</p>
          <a href="#" class="btn btn-danger" onClick="deleteNote({{ note.id }})"
            >Delete</a
          >
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col-5">
      <div
      class="card addNote"
      style="margin-bottom: 3rem"
    >
      <div class="card-body">
        <form method="POST">
          <textarea name="note" id="note" class="form-control"></textarea>
          <br />
          <div align="center">
            <button type="submit" class="btn btn-primary">Add Note</button>
          </div>
        </form>
      </div>
    </div>

    </div>
  </div>
</div>

{% endblock %}
